{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="h-25 mw-100">{{my_map|safe}}</div>
    </div>
    <div> {% for item in contact_form %}
    <h1>{{ item.title }}</h1>
    <p>
        {{ item.intro | richtext }}
    </p>

    <form action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        <ul>
            {{ form.as_p }}
        </ul>

        <button type="submit">
            Submit Form
        </button>
    </form>
    {% endfor %}
    {{address}}{{country}}</div>

{% endblock content %}