{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
<div class="banner-section">
	   <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
		  <div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		  </div>
		  <div class="carousel-inner">
			<div class="carousel-item active text-center">
			  <img src="{% static 'img/banner/hero-slider.jpg' %} " class="img-fluid" alt="Hero Slider">
			</div>
			<div class="carousel-item text-center">
			  <img src="{% static 'img/banner/hero-slider.jpg' %}" class="img-fluid" alt="Hero Slider">
			</div>
			<div class="carousel-item text-center">
			  <img src="{% static 'img/banner/hero-slider.jpg' %}" class="img-fluid" alt="Hero Slider">
			</div>
		  </div>
		</div>
	</div>
{% endblock %}