{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags menu_tags %}
{% load custom_filters %}
{% block body_class %}template-homepage{% endblock %}
{% get_menu "main-menu" as nav %}
{% block content %}
<div class="container justify-content-center">
{% if self.get_children.exists %}
    <!-- About Page -->
    {% if about_page_status == True %}
        {% for item in about_page %}
            {% if not item.details == "" and not item.why_choose_us.all == None %}
            <section>
                <div id="about_container" class="container-fluid">
                    <div class="col-sm text-center">
                        <h1>WHAT WE'RE ALL ABOUT</h1><br>
                        <div class="row">{{ item.details|richtext }}</div><br><br>
                        <h4>WHY CHOOSE US</h4><br>
                        {% for why_choose_text in item.why_choose_us.all %}
                        <div class="row">{{why_choose_text.text}}</div><br>
                        {% endfor %}
                    </div>
                </div>
            </section>
            {% endif %}
            {% if item.cover_photo and people_live_status == True %}
            <section class="about_images_section mt-5">
                <div class="col-md">
                    {% if item.cover_photo %}
                    <div id="about_row-2nd-sec" class="row">
                        {% image item.cover_photo original as img %}
                        <img id="about_cover" src="{{img.url}}" alt="{{img.alt}}">
                    </div>
                    {% endif %}
                    {% if people %}
                    <div id="about_row_people" class="row">
                        {% for person in people %}
                        <div id="prof_img_col" class="col-md-4">
                            {% image person.profile original as img %}
                            <a href="{{ person.url }}" style="width:100%;"><img id="prof_img" src="{{img.url}}" alt="{{img.alt}}"></a><br>
                            <h3 class="person_name">{{person}}</h3>
                            <p class="person_role">{{person.role}}</p>
                        </div>
                        {% endfor %}
                        {# Only show pagination if there is more than one page to click through #}
                        {% if people.paginator.num_pages > 1 %}
                          <div class="container my-1">
                            <nav aria-label="Page navigation">
                              <ul class="pagination justify-content-center">
                                {% if people.has_previous %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ people.previous_page_number }}" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                {% endif %}
                                {% for page_num in people.paginator.page_range %}
                                  <li class="page-item {% if page_num == people.number %} active{% endif %}">
                                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                  </li>
                                {% endfor %}
                                {% if people.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ people.next_page_number }}" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                {% endif %}
                              </ul>
                            </nav>
                          </div>
                        {% endif %}
                    </div>
                   {% endif %}
                </div>
            </section>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- Services Offered -->
    {% if services_page_status == True %}
    <section>
         <div class="container-fluid pt-5 justify-content-center d-inline-block">
              <div class="row align-items-center justify-content-center pt-4"><a href="{{ service_data.page_url }}" style="color:black;"><h1>SERVICES WE OFFERED</h1></a></div>
              <div class="row m-0 w-100">
                {% for item in service_data %}
                <div class="col-md-4 d-flex">
                   <div class="detail-main mt-0">
                        <div class="card card-header">
                            {% image item.service_image original as img %}
                            <a href="{{img.url}}"><img id="my_img" src="{{img.url}}" alt="{{img.alt}}"></a>
                        </div>
                        <div class="card card-body">
                            <a href="{{item.url}}" style="color:black;"><h4 class="service_title">{{ item.title}}</h4></a>
                            <hr>
                            <div class="row text-left">
                                <div class="description">
                                    <p class="intro">{{ item.description | truncatechars:150 }}</p>
                                    <div class="col-lg text-right"><a type="button" class="btn btn-sm my_see_btn more-link" href="{{item.url}}" style="color:black;">See more</a></div>
                                </div>
                            </div>
                            <div class="row text-left contact_info">{{ item.duration }} {{ item.unit }}</div>
                            <div class="row text-left contact_info">{% if item.show_price_start %}Price starts at{% endif %} &#8369; {{ item.price|add_thousand_separator  }}</div><br>
                            {% for block in item.packages %}
                                {% if block.block_type == 'package_entry' %}
                                    <div class="row my_row">- {{ block.value }}</div>
                                {% endif %}
                            {% endfor %}<br>
                            <div class="row text-left contact_info">Additional Information:<span>{{ item.remarks }}</span></div>
                            <div class="row pt-4" style="width:100%; margin: 0;">
                                <div class="col-lg text-right">
                                    {% if item.service_video %}
                                        <a href="{{ item.service_video.url }}" type="button" class="btn btn-sm my_custom_font" style="text-decoration: underline; color:black;" >View video</a>
                                    {% endif %}
                                    <span><a type="button" class="btn btn-sm my_custom_font" href="{{ self.service_youtube_url}}" style="color:black;" target="_blank">View youtube</a></span>
                                </div>
                            </div><hr>
                            {% get_menu "main-menu" as nav %}
                            {% if nav %}
                            <div class="row text-left"><h6>CONTACT US</h6></div>
                            <div class="contact_info">
                                <div class="row text-left">{{ nav.company_name }}</div>
                                <div class="row text-left">{% if nav.phone %} + 63 {% endif %} {{nav.phone}}</div>
                                <div class="row text-left">{{ nav.email }}</div>
                                <div class="row text-left">{{ nav.address }}</div>
                            </div>
                            <div class="row mt-5 justify-content-center">
                                <button type="button" class="btn btn-md" style="background-color: {{nav.bg_color}}; color: {{nav.font_color}};">Book now</button>
                            </div>
                            {% else %}
                            <div class="row mt-5 justify-content-center">
                                <button type="button" class="btn btn-md btn-primary">Book now</button>
                            </div>
                            {% endif %}
                        </div>
                   </div>
                </div>
                {% endfor %}
                {# Only show pagination if there is more than one page to click through #}
                {% if service_data.paginator.num_pages > 1 %}
                  <div class="my_paginator d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                      <ul class="pagination justify-content-center">
                        {% if service_data.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ service_data.previous_page_number }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                        {% endif %}
                        {% for page_num in service_data.paginator.page_range %}
                          <li class="page-item {% if page_num == service_data.number %} active{% endif %}">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                          </li>
                        {% endfor %}
                        {% if service_data.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ service_data.next_page_number }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    </nav>
                  </div>
                {% endif %}
            </div>
    </div>
    </section>
    {% endif %}

    <!-- Opening Hours -->
    {% if opening_hours_status == True %}
     <section>
        <div class="working-hours pt-5 mt-5 text-center justify-content-center">
          <h1 class="working-hours-title">WORKING HOURS</h1>
          <table class="mt-5">
          {% for item in opening_hours %}
            <tr>
              <td>Monday</td>
              <td>{{ item.monday }}</td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>{{ item.tuesday }}</td>
            </tr>
            <tr>
              <td>Wednesday</td>
              <td>{{ item.wednesday }}</td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>{{ item.thursday }}</td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>{{ item.friday }}</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>{{ item.saturday }}</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>{{ item.sunday }}</td>
            </tr>
          {% endfor %}
          </table>
        </div>
     </section>
    {% endif %}
    {% if contact_page_status == True %}
    <section>
        <div id="contact_page" class="container-fluid justify-content-center align-items-center w-100">
            <div class="col-lg-8">
                <div class="card-body h-100 w-100">
                    <div class="row w-100 justify-content-center align-items-center m-1 pt-4 pb-4 w-100">
                         <h1 class="text-center">CONTACT US TODAY</h1>
                    </div>
                    <div class="row text-center justify-content-center align-items-center pt-3">
                        {% include 'contact/contact_form.html' with page=contact_page %}
                    </div>
                </div>
                <br><hr><br>
                <div class="row w-100 justify-content-center align-items-center pt-3 pb-3"><h5>{{ address }}</h5></div>
                <div class="row height-auto">
                    <div class="my-css-class">{{ my_map|safe }}</div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% else %}
    <div class="empty_response">
        <h1>NO LIVE PAGE EXISTS YET</h1>
        <p>There are no published pages. Once there are you’ll see them here.</p>
        <a href="/admin/pages/add/about/aboutpage/3/?next=/admin/about-page-admin/" type="button" class="btn btn-primary btn-sm">create</a>
    </div>
{% endif %}
</div>
{% endblock content %}