{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags menu_tags %}
{% block body_class %}template-homepage{% endblock %}
{% get_menu "main-menu" as nav %}
{% block content %}
{% if self.get_children.exists %}
    <!-- About Page -->
    {% if about_page_status == True %}
        {% for item in about_page %}
        <div class="" style="">
            {% if not item.details == "" and not item.why_choose_us.all == None %}
            <section>
                <div id="about_container" class="container-fluid">
                    <div class="col-sm text-center">
                        <h1>WHAT WE'RE ALL ABOUT</h1><br>
                        <div class="row">{{ item.details|richtext }}</div><br><br>
                        <h4>WHY CHOOSE US</h4><br>
                        {% for why_choose_text in item.why_choose_us.all %}
                        <div class="row">{{why_choose_text.text}}</div><br>
                        {% endfor %}
                    </div>
                </div>
            </section>
            {% endif %}
            {% if item.cover_photo and people_live_status == True %}
            <section class="about_images_section mt-5">
                <div class="col-md">
                    {% if item.cover_photo %}
                    <div id="about_row-2nd-sec" class="row">
                        {% image item.cover_photo original as img %}
                        <img id="about_cover" src="{{img.url}}" alt="{{img.alt}}">
                    </div>
                    {% endif %}
                    {% if people %}
                    <div id="about_row_people" class="row">
                        {% for person in people %}
                        <div id="prof_img_col" class="col-md-4">
                            {% image person.profile original as img %}
                            <a href="{{ person.url }}" style="width:100%;"><img id="prof_img" src="{{img.url}}" alt="{{img.alt}}"></a><br>
                            <h3 class="person_name">{{person}}</h3>
                            <p class="person_role">{{person.role}}</p>
                        </div>
                        {% endfor %}
                        {# Only show pagination if there is more than one page to click through #}
                        {% if people.paginator.num_pages > 1 %}
                          <div class="container my-1">
                            <nav aria-label="Page navigation">
                              <ul class="pagination justify-content-center">
                                {% if people.has_previous %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ people.previous_page_number }}" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                {% endif %}
                                {% for page_num in people.paginator.page_range %}
                                  <li class="page-item {% if page_num == people.number %} active{% endif %}">
                                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                  </li>
                                {% endfor %}
                                {% if people.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ people.next_page_number }}" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                {% endif %}
                              </ul>
                            </nav>
                          </div>
                        {% endif %}
                    </div>
                   {% endif %}
                </div>
            </section>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    <!-- Opening Hours -->
    {% if opening_hours_status == True %}
        <div class="working-hours pt-5 mt-5">
          <h1 class="working-hours-title">WORKING HOURS</h1>
          <h4>Contact us Today</h4>
          <table class="mt-5">
          {% for item in opening_hours %}
            <tr>
              <td>Monday</td>
              <td>{{ item.monday }}</td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>{{ item.tuesday }}</td>
            </tr>
            <tr>
              <td>Wednesday</td>
              <td>{{ item.wednesday }}</td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>{{ item.thursday }}</td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>{{ item.friday }}</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>{{ item.saturday }}</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>{{ item.sunday }}</td>
            </tr>
          {% endfor %}
          </table>
        </div>
    {% endif %}
{% else %}
    <div class="empty_response">
        <h1>NO LIVE PAGE EXISTS YET</h1>
        <p>There are no published pages. Once there are you’ll see them here.</p>
        <a href="/admin/pages/add/about/aboutpage/3/?next=/admin/about-page-admin/" type="button" class="btn btn-primary btn-sm">create</a>
    </div>
{% endif %}
{% endblock content %}