{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block extra_css %}
<style>
    #about_container {
        padding: 70px;
    }
</style>
{% endblock extra_css %}
{% block content %}
    <!--About Us!-->
<div id="about_container" class="container-fluid">
    <table>
        <tr>
            {% for image in self.about_us_img.all %}
                {% image image.image max-411x479 as img %}
                 <img src="{{img.url}}" alt="{{img.alt}}">
            {% endfor %}
        </tr>
        <tr>
            {{ self.details | richtext }}
            <br>{% for item in self.why_choose_us.all %}
                <ul><li>{{item.text}}</li></ul>
            {% endfor %}
        </tr>
    </table>
</div>

{% endblock %}