{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block extra_css %}
<style>
    #thank_you_p {
        color: black;
        justify-content: center;
        align-items: center;
        margin: 0;
        text-align: center;
        display: flex
    }
    .custom_thank_container {
        padding-top: 6%;
        display: flex;
    }
    .custom_icon {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5em;
    }
</style>
{% endblock %}
{% block content %}
    <div id="custom_thank_container" class="container-fluid pt-5 mt-5 mb-2 w-100 h-100 justify-content-center align-items-center">
        <div class="col-lg justify-content-center align-items-center">
            <i class="fas fa-thumbs-up custom_icon"></i><br>
            <h2 id="thank_you_p">{{ self.book_thank_you_text|richtext }}</h2>
        </div>
    </div>
{% endblock %}