{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags menu_tags %}
{% block content %}
{% if booking_page_status %}


<div class="booking_parallax">
    <div class="booking_row text-center justify-content-center align-items-center d-flex">
        <form class="contact_form justify-content-center align-items-center" action="{% pageurl page %}" method="POST" target="_blank">
             {% csrf_token %}
            <h1 id="custom__title" class="pb-5 pl-5 pr-5 mt-5">BOOK WITH US NOW!</h1>
            <ul id="form_fields" class="pb-5">{{ form.as_p }}</ul>
            <button class="btn btn-md btn-success my_btn" type="Submit" style="color: white;">Submit Form</button>
        </form>
    </div>
</div>
{% else %}
    {% include 'partials/no_page.html' %}
{% endif %}
{% endblock %}