{% load static wagtailcore_tags wagtailimages_tags menu_tags %}
{% get_menu "main-menu" as nav %}

{% block extra_css %}
<style>
  .navbar-brand, .nav-link, a{
     color: {{ nav.font_color }};

  }
  #company_name {
    color: {{ nav.font_color }};

  }
  .selected {
    border-radius: 16px;
    background-color: {{ nav.font_color }};
    color: {{ nav.bg_color }};
  }
  .selected:hover {
    color: {{ nav.bg_color }};
    background-color: {{ nav.font_color }};
  }
  a:hover {
    color: {{ nav.font_color }};
  }

  {% if nav.bg_color == '#3c3c3c' or nav.bg_color == '#37a1fe' %}
    .fas.fa-search {
      color: {{ nav.bg_color }};
    }
    .custom_search_container {
     background-color: {{ nav.font_color }};
     border:none;
    }
    .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  {% else %}
    .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  {% endif %}

</style>
{% endblock %}
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: {{nav.bg_color}}">
    {% image nav.company_logo original as img %}
    <img id="comp_logo" id="hide" src="{{img.url}}" href="/" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
    <a id="company_name" class="navbar-brand" href="/" style="margin-right: 7rem;">{{nav.company_name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="navbar" class="navbar-nav ml-auto">
         {% for item in nav.menu_items.all %}
        <li class="nav-item">
          <a class="nav-link" href="{{item.link}}"> {{item.title}}</a>
        </li>
        {% endfor %}
      </ul>&nbsp;
      <form class="form-inline my-2 my-lg-0">
        <div class="custom_search_container">&nbsp;
          <i class="fas fa-search"></i>
          <input type="search" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </div>
</nav>
{% block extra_js %}
<script>
</script>
{% endblock %}