{% load static %}

#about_container {
    position: relative;
    display: flex;
    padding-left: 27%;
    padding-right: 27%;
    margin-top: 15%;
    height: auto;
}
.about_images_section {
    position: relative;
    display: flex;
    height: auto;
}
#prof_img_col {
    position: relative;
    display: flex;
    padding-right: unset;
    padding-left: unset;
    justify-content: left;
}
#prof_img {
    height: 500px;
    width: 100%;
}
.person_name {
    position: absolute;
    bottom: 15%;
    font-size: 2rem;
    color: white;
    margin-left: 25px;
}
.person_role {
    position: absolute;
    bottom: 9%;
    font-size: 1rem;
    color: white;
    margin-left: 25px;
}
#prof_img {
    filter: brightness(70%);
}
#about_cover {
    height: 650px;
}

@media only screen and (min-device-width: 501px) and (max-device-width: 1200px) {
    #about_cover {
        height: 400px;
    }
}
@media only screen and (max-device-width: 500px) {
    #about_container {
        position: relative;
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 40%;
        height: auto;
    }
    #about_cover {
        height: 200px;
    }
    #about_row_people {
        height: auto;
        width: auto;
    }
    #prof_img_col {
        margin-top: 4%;
        height: auto;
        padding-right: 20%;
        padding-left: 20%;
        width: 100%;
    }
    #prof_img {
        width: 100%;
        height: 320px;
        display: flex;
        position: relative;
    }
    .person_name {
        font-size: 20px;
    }
    .person_role {
        margin-bottom: 15px;
        font-size: 10px;
    }
}

