{% load static %}

.parallax {
    background-image: url("/static/img/booking/bg_booking.jpg");
    /* position: absolute; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 220vh;

}
#custom__title {
    color: white;
}
#custom_form {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    color: white;
}
@media only screen and (max-device-width: 500px) {
    #booking_row {
        padding-top: 3%;
    }
    #custom_form {
        padding-top: 25%;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .parallax {
        background-position: 50% calc(50% - 50vh);
    }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 1200px) {
     #custom_form {
        padding-top: 10%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 5%;
    }
    #booking_row {
        padding-top: 12%;
        margin: auto;
    }
    .parallax {
        background-position: 50% calc(50% - 100vh);
    }
}

