{% load menu_tags %}
{% get_menu "main-menu" as theme %}

nav, a {
    justify-content: center;
}
.navbar {
    display: flex;
    padding: 25px;
}
li:hover {
    border-radius: 16px;
    font-weight: bold;
}
.selected {
    border-radius: 16px;
}
#company_name {
    font-size: 30px;
}
#comp_logo {
    border-radius: 6px;
    height: 40px;
    width:40px;
}
.fas.fa-search {
    width:20px;
    height:23px;
}
input {
    border: none;
    outline: none;
    height: 100%;
}
.custom_search_container {
   border: 1px solid black;
   border-radius: 8px;
   height: 40px;
   align-items: center;
   justify-content: center;
   padding: 4px;
   width: 100%;
}

/* Contact page */

