body {
    height: 100%;
    margin: 0;
}
img {
    width: 100%;
    position: relative;
    display: flex;
}
nav, a {
    justify-content: center;
}
.navbar {
    display: inline-flex;
    padding: 5px;
    width: 100%;
    flex-wrap: wrap;
}
li:hover {
    border-radius: 16px;
    font-weight: bold;
}
#comp_logo {
    border-radius: 6px;
    height: 40px;
    width:40px;
}
.fas.fa-search {
    width:20px;
    height:23px;
}
input {
    border: none;
    outline: none;
    height: 100%;
}
.custom_search_container {
   border: 1px solid black;
   border-radius: 8px;
   height: 40px;
   align-items: center;
   justify-content: center;
   padding: 4px;
   width: 100%;

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
    .navbar-brand {
        font-size: 20px;
        margin-right: 7rem;
    }
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .navbar-brand {
        font-size: 20px;
        margin-right: 1rem;
    }
    #company_name {
        font-size: 20px;
        margin-right: 1rem;
    }
}
@media only screen and (min-device-width: 768px {
   /* default iPad screens */
    a {
        font-size: 20px;
        margin-right: 7rem;
    }
}


