input {
    outline: none;
}
i, a, li {
    justify-content: center;
    color: grey;
}
li:hover, i:hover {
    background-color: #EC3254;
    border-radius: 16px;
    font-weight: bold;
    color: #ffffff;
}
#company_name {
    font-weight: bold;
}
.selected {
    background-color: #EC3254;
    border-radius: 16px;
    font-weight: bold;
}
footer {
    background: linear-gradient(178.04deg, #2D2E2F 0.98%, #000000 97.3%);
}