{% load static %}
.working_parallax {
    background-image: url("/static/img/opening_hours/bg_working.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;

}
.working-hours {
  width: 40%;
  margin-top: 7%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5vh;
  padding-top: 2%;
  margin-bottom: 10vh;
  color: white;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 16px;
}
h1 {
  text-align: center;
  justify-content: center;
}
.working-hours-title {
  margin-bottom: 20px;
  text-align: center;
  padding-top: 10%;
  justify-content: center;
  color: white;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ddd;
}

@media only screen and (max-device-width: 500px) {
    .working-hours {
      width: 80%;
      height: 100%;
      margin-top: 19%;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 5vh;
    }
    .working-hours-title {
      margin-top: 20px;
      font-size: 30px;
      justify-content: center;
      text-align: center;
    }
}
@media only screen and (min-device-width: 501px) and (max-device-width: 700px) {
    .working_parallax {
        padding-top: 8%;
        padding-bottom: 2%;
    }
    .working-hours {
      width: 79%;
      text-align: center;
      margin-left: auto;
      /* padding-top: 15%; */
      margin-right: auto;
      padding-bottom: 5%;
      /* margin-top: 13%; */
    }
    .working-hours-title {
      font-size: 30px;
      justify-content: center;
      text-align: center;
    }
}
@media only screen and (min-device-width: 701px) and (max-device-width: 1400px) {
    .working_parallax {
        padding-top: 8%;
        padding-bottom: 2%;
    }
    .working-hours {
      width: 45%;
      text-align: center;
      margin-left: auto;
      /* padding-top: 15%; */
      margin-right: auto;
      padding-bottom: 3%;
      margin-top: 3%;
    }
    .working-hours-title {
      font-size: 30px;
      justify-content: center;
      text-align: center;
    }
}

