{% load static %}

.working-hours {
  width: 40%;
  margin-top: 7%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 5%; */
  padding-bottom: 5%;
  background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%);
  border-radius: 16px;
}
h1 {
  text-align: center;
  justify-content: center;
}
.working-hours-title {
  margin-bottom: 20px;
  text-align: center;
  padding-top: 10%;
  justify-content: center;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ddd;
}

@media only screen and (max-device-width: 499px) {
    .working-hours {
      width: 80%;
      height: 100%;
      margin-top: 19%;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }
    .working-hours-title {
      margin-top: 20px;
      font-size: 30px;
      justify-content: center;
      text-align: center;
    }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 1200px) {
    .working-hours {
      width: 50%;
      text-align: center;
      margin-left: auto;
      /* padding-top: 15%; */
      margin-right: auto;
      margin-top: 13%;
    }
    .working-hours-title {
      font-size: 30px;
      justify-content: center;
      text-align: center;
    }
}