{% load static %}

.working-hours {
  width: 25%;
  margin: auto;
  text-align: center;
}

.working-hours-title {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ddd;
}

@media only screen and (max-device-width: 499px) {
    .working-hours {
      width: 80%;
      /* margin-top: 10%; */
      /* display: flex; */
      /* position: absolute; */
      height: 100%;
      margin: auto;
      text-align: center;
    }
    .working-hours-title {
      margin-top: 20px;
      font-size: 30px;
    }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 1200px) {
    .working-hours {
      width: 50%;
      margin: auto;
      text-align: center;
    }
    .working-hours-title {
      margin-top: 20px;
      font-size: 30px;
    }
}